{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 id="{{ data.id }}" class="ui block header">
    Data instance: {{ datainstance.url }} {% uuid datainstance.id %} {% admin object_type datainstance.id %}
</h3>

<table class="ui celled table">
    <tbody>
        <tr>
            <th>Product</th>
            <td>{{ datainstance.data.product_instance.product.name }}</td>
            <td>{% uuid datainstance.data.product_instance.product.id %}</td>
        </tr>
        <tr>
            <th>Product instance</th>
            <td>{{ datainstance.data.product_instance.reference_time }} {% version datainstance.data.product_instance.version %}</td>
            <td>{% uuid datainstance.data.product_instance.id %}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{ datainstance.data }}</td>
            <td>{% uuid datainstance.data.id %}</td>
        </tr>
        <tr>
            <th>Data format</th>
            <td>{{ datainstance.format.name }}</td>
            <td>{% uuid datainstance.format.id %}</td>
        </tr>
        <tr>
            <th>Service backend</th>
            <td>{{ datainstance.service_backend.name }}</td>
            <td>{% uuid datainstance.service_backend.id %}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td colspan="2"><a href="{{ datainstance.url }}">{{ datainstance.url }}</a></td>
        </tr>
        <tr>
            <th>Hash</th>
            <td colspan="2">{% if datainstance.hash %}{{ datainstance.hash }} {% hash_type datainstance.hash_type %}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Added to database</th>
            <td colspan="2">{{ datainstance.created }}</td>
        </tr>
        <tr>
            <th>Last modified</th>
            <td colspan="2">{{ datainstance.modified }}</td>
        </tr>
        <tr>
            <th>Expires</th>
            <td colspan="2">{% if datainstance.expires %}{{ datainstance.expires }}{% else %}Never{% endif %}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td colspan="2">{% deleted datainstance.deleted %}</td>
        </tr>
    </tbody>
</table>
