{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 id="{{ license.name|slugify }}" class="ui block header">
    License: {{ license.name }} {% slug license.slug %} {% uuid license.id %} {% admin object_type license.id %}
</h3>

<table class="ui celled table">
    <tbody>
        <tr>
            <th>Description</th>
            <td>{{ license.description }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td><a href="{{ license.url }}">{{ license.url }}</a></td>
        </tr>
    </tbody>
</table>
