{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 id="{{ product.name|slugify }}" class="ui block header">
    Product: {{ product.name }} {% slug product.slug %} {% uuid product.id %} {% admin object_type product.id %}
</h3>

<table class="ui celled table">
    <tbody>
        <tr>
            <th>Operational</th>
            <td colspan="2">{% operational product %}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ product.contact }}</td>
            <td>{% uuid product.contact.id %}</td>
        </tr>
        <tr>
            <th>Institution</th>
            <td>{{ product.institution }}</td>
            <td>{% uuid product.institution.id %}</td>
        </tr>
        <tr>
            <th>License</th>
            <td>{{ product.license }}</td>
            <td>{% uuid product.license.id %}</td>
        </tr>
        <tr>
            <th>Projection</th>
            {% if product.projection %}
                <td>{{ product.projection }}</td>
                <td>{% uuid product.projection.id %}</td>
            {% else %}
                <td colspan="2">---</td>
            {% endif %}
        </tr>
        {% if product.source %}
            <tr>
                <th>Source</th>
                <td>
                    {{ product.source }}
                    {% if product.source_key %}
                        <em>with source key</em> <strong>{{ product.source_key }}</strong>
                    {% endif %}
                </td>
                <td>{% uuid product.source.id %}</td>
            </tr>
        {% endif %}
        {% if product.grid_resolution %}
            <tr>
                <th>Grid resolution</th>
                <td colspan="2">{{ product.grid_resolution }} {{ product.grid_resolution_unit }}</strong></td>
            </tr>
        {% endif %}
        {% if product.prognosis_length %}
            <tr>
                <th>Prognosis length</th>
                <td colspan="2">{{ product.prognosis_length }} hours</td>
            </tr>
        {% endif %}
        {% if product.time_steps %}
            <tr>
                <th>Number of time steps</th>
                <td colspan="2">{{ product.time_steps }}</td>
            </tr>
        {% endif %}
        {% if product.wdb_data_provider %}
            <tr>
                <th>WDB data provider</th>
                <td colspan="2">{{ product.wdb_data_provider }}</td>
            </tr>
        {% endif %}
        {% if product.latest_product_instance %}
            {% with instance=product.latest_product_instance %}
                <tr>
                    <th>Latest instance</th>
                    <td>{{ instance.reference_time }} {% version instance.version %}</td>
                    <td>{% uuid instance.id %}</td>
                </tr>
                <tr>
                    <th>Latest instance version</th>
                    <td colspan="2">{{ instance.version }}</td>
                </tr>
            {% endwith %}
        {% endif %}
    </tbody>
</table>
