{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 id="{{ product.name|slugify }}" class="ui block header">
    Product instance: {{ productinstance.reference_time }} {% version productinstance.version %} {% uuid productinstance.id %} {% admin object_type productinstance.id %}
</h3>

<table class="ui celled table">
    <tbody>
        <tr>
            <th>Product</th>
            <td>{{ productinstance.product }}</td>
            <td>{% uuid productinstance.product.id %}</td>
        </tr>
        <tr>
            <th>Reference time</th>
            <td colspan="2">{{ productinstance.reference_time }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td colspan="2">{{ productinstance.version }}</td>
        </tr>
        <tr>
            <th>Added to database</th>
            <td colspan="2">{{ productinstance.created }}</td>
        </tr>
        <tr>
            <th>Last modified</th>
            <td colspan="2">{{ productinstance.modified }}</td>
        </tr>
        <tr>
            <th>Number of data entries</th>
            <td colspan="2">{{ productinstance.data_set.count }}</td>
        </tr>
        <tr>
            <th>Previous in time and version</th>
            {% if productinstance.previous %}
                <td>{{ productinstance.previous.reference_time }} {% version productinstance.previous.version %}</td>
                <td>{% uuid productinstance.previous.id %}</td>
            {% else %}
                <td colspan="2">---</td>
            {% endif %}
        </tr>
        <tr>
            <th>Next in time and version</th>
            {% if productinstance.next %}
                <td>{{ productinstance.next.reference_time }} {% version productinstance.next.version %}</td>
                <td>{% uuid productinstance.next.id %}</td>
            {% else %}
                <td colspan="2">---</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h4 class="ui block header">Contents</h4>

<table class="ui celled table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Service backend</th>
            <th>File format</th>
            <th>Status</th>
            <th>ID</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for data in productinstance.data %}
            {% core_object_mini data %}
        {% endfor %}
    </tbody>
</table>
