{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 id="{{ servicebackend.name|slugify }}" class="ui block header">
    Service backend: {{ servicebackend.name }} {% slug servicebackend.slug %} {% uuid servicebackend.id %} {% admin object_type servicebackend.id %}
</h3>

<table class="ui celled table">
    <tbody>
        <tr>
            <th>Documentation</th>
            <td><a href="{{ servicebackend.documentation_url }}">{{ servicebackend.documentation_url }}</a></td>
        </tr>
    </tbody>
</table>
