<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Productstatus</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>

        <h1>Productstatus</h1>

        <p>This web page makes queries against the <em>Productstatus</em>
        metadata service. The index is updated each time a data product based
        on any numerical model run is generated. For a complete view of the
        data set, use <a href="/admin/">the administration interface</a>.</p>

        {% block content %}
        {% endblock %}

    </body>

</html>

{# vi: se ft=htmldjango: #}
