{# vi: se ft=htmldjango: #}

{% load productstatus %}

<h3 class="ui block header">Check results</h3>

<table class="ui celled table">
    {% for check in checks %}
        {% with check.execute as results %}
            <thead>
                <tr>
                    <th>{% check_result_code results.get_code %}</th>
                    <th>{{ check.name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results.get_parts %}
                    <tr>
                        <td>{% check_result_code result.code %}</td>
                        <td>{{ result.message }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endwith %}
    {% endfor %}
</table>
