{% extends "base.html" %}

{% block content %}
    <h2>Latest 100 data instances</h2>

    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Product name</th>
            <th>Reference time</th>
            <th>Version</th>
            <th>Format</th>
            <th>Located at</th>
            <th>Added to database</th>
        </tr>
        {% for di in datainstances %}
            <tr>
                <td>{{ di.data.product_instance.product.name }}</td>
                <td>{{ di.data.product_instance.reference_time|date:'Y-m-d H:i:s T' }}</td>
                <td>{{ di.data.product_instance.version }}</td>
                <td>{{ di.format.name }}</td>
                <td><a href="{{ di.url }}">{{ di.service_backend.name }}</a></td>
                <td>{{ di.created|date:'Y-m-d H:i:s T' }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{# vi: se ft=htmldjango: #}
