{% extends "base.html" %}

{% load productstatus %}

{% block content %}

    <h2 class="ui centered header">
        {% if q %}
            {{ objects|length }} result(s) for query: {{ q }}
        {% else %}
            Explore
        {% endif %}
    </h2>

    {% for object in objects %}
        {% core_object object %}
    {% empty %}
        {% if q %}
            <div class="ui raised segment">
                No results found for search query "{{ q }}".
            </div>
        {% else %}
            <div class="ui raised segment">
                Use the search bar or the <a href="{% url 'categories' %}">categories section</a> to get started with data exploration.
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{# vi: se ft=htmldjango: #}
