{% extends "base.html" %}

{% load productstatus %}

{% block content %}

    <script>
        $(document).ready(function() {
            $('.ui.progress').progress();
        });
    </script>

    <h2 class="ui centered header">Latest status of all registered products</h2>

    <div class="ui two column doubling stackable grid container">
        {% for product in products %}
            <div class="column">
                <h3 class="ui block header">{{ product.name }} {% operational product %}</h3>
                {% if product.latest_product_instance %}
                    {% with instance=product.latest_product_instance %}
                    <div>
                        <p>Reference time: <strong>{{ instance.reference_time }}</strong></p>
                        {% for backend in instance.service_backends %}
                            {% data_instances_on_service_backend instance backend as instances %}
                            {% widthratio instances.count product.file_count 100 as percent %}
                            <div
                                class="ui indicating progress"
                                data-value="{{ instances.count }}"
                                data-total="{{ product.file_count }}"
                                data-percent="{{ percent }}"
                            >
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                                <div class="label">
                                    Files on {{ backend.name }}: {{ instances.count }} of {{ product.file_count }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{# vi: se ft=htmldjango: #}
