{% extends "base.html" %}

{% load productstatus %}

{% block content %}

    <h2 class="ui centered header">List of common UUIDs</h2>

    <h3 class="ui header">
        <i class="shop icon"></i>
        <div class="content">Products</div>
    </h3>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Operational</th>
                <th>UUID</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{% operational product %}</td>
                    <td>{% uuid product.id %}</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="ui header">
        <i class="cube icon"></i>
        <div class="content">Data formats</div>
    </h3>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Data format</th>
                <th>UUID</th>
            </tr>
        </thead>
        <tbody>
            {% for format in dataformats %}
                <tr>
                    <td>{{ format.name }}</td>
                    <td>{% uuid format.id %}</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="ui header">
        <i class="database icon"></i>
        <div class="content">Service backends</div>
    </h3>


    <table class="ui celled table">
        <thead>
            <tr>
                <th>Service backend</th>
                <th>UUID</th>
            </tr>
        </thead>
        <tbody>
            {% for backend in servicebackends %}
                <tr>
                    <td>{{ backend.name }}</td>
                    <td>{% uuid backend.id %}</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# vi: se ft=htmldjango: #}
