/**
 * Extra styles overriding the Semantic UI styling
 */

body {
    margin: 3em auto;
}

footer {
    margin: 3em auto;
    text-align: center;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6);
    border-color: #e8e8e8;
    border-width: 1px 0 0;
    border-style: solid;
    padding: 1em 0 0;
}
