body {
    width: 66%;
    margin: 3em auto;
    color: #111;
    font-family: "Source Sans Pro", "Bitstream Charter", "Times", serif;
}

table {
    width: 100%;
    border: 0;
}

table th {
    border-bottom: 1px solid #444;
    text-align: left;
}

table td, table th {
    padding: 0.2em 0;
}

table table {
    color: #777;
    width: auto;
    margin: 0 0 2em 1em;
}

table table td, table table th {
    padding-right: 2em;
}

a {
    color: crimson;
}

p {
    margin: 0.5em 0;
}
